@using System.Data;


@{
    foreach (DataRow row in Model.Rows)
    {
        <div class="train__toa" onclick="loadToaDetails(this,'@row["MaToa"]')">
            <div class="window">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="train__toa-number">
                @row["SoToa"] <!-- Thay "SoToa" bằng tên cột trong DataTable của bạn -->
            </div>
        </div>
    }
}


