/* Style tổng quát cho form */
.form-label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.3s ease all;
    color: #aaa;
    font-size: 16px;
}

.form-control:focus ~ .form-label,
.form-control:not(:placeholder-shown) ~ .form-label {
    top: -10px;
    font-size: 12px;
    color: #007bff;
}

.mb-3 {
    position: relative;
    margin-top: 2rem;
}
