*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.toa{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;


}

.toa .toa__name{
    font-size: 30px;
    font-weight: bold;
    color: aqua;
    margin-bottom: 20px;
}

.toa .toa__container{
    border: 2px solid cornflowerblue;
    border-radius: 20px;
    width: 760px;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    white-space: nowrap; /* Giữ nội dung trên một dòng để cuộn ngang */
    padding-top: 10px;


}

.toa .toRight{
    position: absolute;
    left:65%;
    top: 20%;
    cursor: pointer;
}

.toa .toLeft{
    position: absolute;
    left:14%;
    top: 20%;
    cursor: pointer;
}

.khoang{
    margin: 5px;    
    position: relative;
    margin: 0 auto;
}

.khoang .khoang__container{
    height: 60%;
    width: 100%;
    float: left;
    padding-left: 10px;
    


}

.khoang .khoang__name{
    font-size: 10px;
    text-align: center;

}

.khoang .seat{
    width:30px;
    height: 30px;
    float: left;
    margin: 5px;

}

.khoang .seat{
    position: relative;
    cursor: pointer;
}

.khoang .seat.reserved{
    cursor: not-allowed;
}

.khoang .seat i{
    font-size: 30px;
    color:goldenrod;
}

.khoang .seat--GI span{
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 10px;

}

.khoang .seat--GC span{
    position: absolute;
    top: 0;
    left: 16px;
    font-size: 10px;
}

.khoang .seat.reserved i{
    color: rgba(184, 62, 62, 0.836);
}

.khoang .seat.chosen i{
    color: #a6b727
    
}



.seat:hover::after {
    content: "Giá: 200,000đ"; /* Giá ghế */
    z-index: 10;
    position: absolute;
    bottom: 100%; /* Vị trí của tooltip */
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    border: 1px solid;
    color: black;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-in-out;

    
}

.seat.reserved:hover::after{
    content: "Đã bán"; /* Giá ghế */
}

.seat::after {
    opacity: 0;
    visibility: hidden;
}

.seat:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    /* bottom: -8px; Đặt tam giác dưới tooltip */
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid black; /* Màu tam giác */
}

.seat:hover i,.seat:hover span{
    transform: scale(1.1);
    font-weight: bold;
}


.khoang .khoang__block{
    position: absolute;
    right: 0px;
    background-color: brown;
    border-radius: 20px;
    height: 60%;
    width: 5%;
    color: brown;
}



